
//One True Form

//sass variables
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$vertical-form-width: 33%;

/*basic form layout*/
#oneTrueForm{
	overflow: auto;
	padding:5px 5px;	
	overflow:auto;
	min-width:320px;
	width:100%;

	.form{
		.section-container{
			display:block;
			padding:5px;	
		}
	}

	.form-section{
		width:100%;		
		margin:0 auto;		
	}

	.content{
		padding:5px;
	}

}

/*border box model for modern browsers*/
@media screen{
	html{
		box-sizing: border-box;	
	}
	
	#oneTrueForm{
		min-width:$breakpoint-desktop;
		@media (min-width: 0px){
			min-width:0;
		}

		padding:5px 5px;	
		overflow:auto;
		
		.form{
			.section-container{
				display:block;
				padding:5px;	
			}
		}

		.form-section{
			overflow:auto;
			width:100%;		
			margin:0 auto;		
		}

		.content{
			padding:5px;
			float:right;
		}
	}

	#oneTrueForm.vertical{
		.form{
			width:$vertical-form-width;			
		}
		
		.content{
			width:100% - $vertical-form-width;
		}
					
		.section-container{
			float:left;
			clear:left;
			width:100%;
		}

		&.no-content{

			width:$vertical-form-width;

			.form{
			width:100%;
			}
		}
	}


	#oneTrueForm.horizontal{	
		width:100%;
		min-width: 380px;		
		.section-container{		
			width:33.3%;		
			float:left;		
		}	
	}

	@media (max-width: $breakpoint-desktop) {
		#oneTrueForm.vertical{

			.form{
				width:$vertical-form-width + 5%;	
			}

			.content{
				width:100% - ($vertical-form-width + 5%);		
			}

			&.no-content{
				width:100%;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		#oneTrueForm.vertical, #oneTrueForm.horizontal{
			clear:both;
			width:100%;
			min-width: 100px;

				.form{
					width:100% !important;
				}

				.content{
					width:100%;
					float:left;
				}

				.section-container{
					clear:both;
					float:none !important;
					width:100% !important;
			}
		}	  
	}
}