$toggle-color: #72af37;
$error-color: #e02233;

$link: #0275d8;

$light-gray: #cccccc;
$gray: darken($light-gray, 30%);
$dark-gray: darken($light-gray, 60%);
$black: #292b2c;

$white: white;
$red: #B41327;
$orange: #BD5C2E;
$yellow: #EEAF03;
$green: #72AF37;
$blue: #428BCA;
$indigo: #5bc0de;
$violet: #5F0F40;
