/*
 * ./Devices/Desktop.scss
 * Define rules for desktop devices
 */

@media (min-width: $breakpoint-desktop) {
	.one-true-form.vertical,
    .one-true-form.horizontal {
		.form {
			.address_state {
				width:70%;
				padding-right:6px;
			}

			.address_zip {
				width:30%;
				padding-left:6px;
			}

			.cc_number {
				width:70%;
				padding-right:6px;
			}

			.cc_ccv2 {
				width:30%;
				padding-left:6px;
			}

			.cc_exp_year {
				width:30%;
				padding-left:6px;
			}

			.cc_exp_mo {
				width:70%;
				padding-right:6px;
			}
		}
	}
}
