/*
 * Define rules for large mobile devices
 */

@media (min-width: $breakpoint-big-phone) and (max-width: $breakpoint-tablet) {
	.one-true-form {
		.section-container {
			max-width: none !important;
		}

		.form {
			.address_state {
				width:70%;
				padding-right:6px;
			}

			label.standard {
				padding-right:12px;
				width:30%;
				float:left;
				clear:both;
				/*line-height: 32px;*/
				padding-top:6px;
				margin-bottom:14px;

				&.donation-amount {
					display:block;
				}
			}

			.input_row, .note, .error_text {
				width:70%;
				float:right;
			}

			.note {
				margin-top:0;
			}

			.payment_selector {
				margin-top:0;
			}
		}
	}
}
