/*
* ./Components/Buttons.scss
*/

.btn {
    display: inline-block;
    cursor: pointer;
    //box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: $btn-border-radius;
    font-size: $btn-font-size;
    border: $btn-border;
    line-height: 1.25em;

    &:focus {
        outline: none;
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: .65;
    }

    &:not(.btn-link):active,
    &:not(.btn-link).active, {
        box-shadow: 0 0 15px rgba(0, 0, 0, .4) inset;
    }

    &.btn-block {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    &.btn-link {
        color: $btn-link-color;
        background-color: $btn-link-bgcolor;
        border-color: $btn-link-border-color;
    }

    &.btn-xs {
        font-size: $btn-font-size * .7;
        padding: $btn-padding-y * .33 $btn-padding-x * .33;
    }
    &.btn-sm {
        font-size: $btn-font-size * .8;
        padding: $btn-padding-y * .66 $btn-padding-x * .66;
    }
    &.btn-lg {
        font-size: $btn-font-size + $btn-font-size * .33;
        padding: ($btn-padding-y + $btn-padding-y * .5) ($btn-padding-x + $btn-padding-x * .5);
    }
    &.btn-xl {
        font-size: $btn-font-size + $btn-font-size * .66;
        padding: ($btn-padding-y * 2.3) ($btn-padding-x * 2.3);
    }

    @include btn-color-rules('primary', $btn-primary-color, $btn-primary-bgcolor, $btn-primary-border-color);
    @include btn-color-rules('secondary', $btn-secondary-color, $btn-secondary-bgcolor, $btn-secondary-border-color);
    @include btn-color-rules('danger', $btn-danger-color, $btn-danger-bgcolor, $btn-danger-border-color);
    @include btn-color-rules('success', $btn-success-color, $btn-success-bgcolor, $btn-success-border-color);
    @include btn-color-rules('warning', $btn-warning-color, $btn-warning-bgcolor, $btn-warning-border-color);
    @include btn-color-rules('info', $btn-info-color, $btn-info-bgcolor, $btn-info-border-color);
}

.btn-group {
    margin-bottom: 10px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .btn {
        margin: 0;
        display: inline-block;
        border-radius: 0;
        text-align: center;
        float: left;
    }

    .btn:first-child {
        border-radius: $btn-border-radius 0 0  $btn-border-radius;
        border-right: none;
    }

    .btn:last-child {
        border-radius: 0 $btn-border-radius $btn-border-radius 0;
        border-left: none;
    }

    .btn:not(:first-child):not(:last-child) {
        border-left: 0;
        border-right: 0;
    }

    /* one item */
    .btn:first-child:nth-last-child(1) {
        width: 100%;
    }

    /* two items */
    .btn:first-child:nth-last-child(2),
    .btn:first-child:nth-last-child(2) ~ .btn {
        width: 50%;
    }

    /* three items */
    .btn:first-child:nth-last-child(3),
    .btn:first-child:nth-last-child(3) ~ .btn {
        width: 33.3333%;
    }

    /* four items */
    .btn:first-child:nth-last-child(4),
    .btn:first-child:nth-last-child(4) ~ .btn {
        width: 25%;
    }

    /* five items */
    .btn:first-child:nth-last-child(5),
    .btn:first-child:nth-last-child(5) ~ .btn {
        width: 20%;
    }
}
