/*
* ./Components/Grid.scss
*/

.container {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    margin-right: auto;
    margin-left: auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.container-fluid {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    //box-sizing: border-box;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;

    &.no-gutter {
      margin-left: 0;
      margin-right: 0; }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-gutter [class^="col-"] {
    padding-left: 0;
}

[class^="col-"] {
    width: 100%;
    //box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    float: left;
}

@include columns('.col-xs-$i');
@include columns('.col-xs-push-$i', 'margin-left', 11);
@include columns('.col-xs-pull-$i', 'margin-right', 11);

.d-xs-none, .d-none { display: none !important; }
.d-xs-block, .d-block { display: block !important; }
.d-xs-inline-block, .d-inline-block { display: inline-block !important; }
.d-xs-inline, .d-inline { display: inline !important; }

@include display-spacing-rules();

@media only screen and (min-width: $grid-sm-breakpoint) {
    @include columns('.col-$i, .col-sm-$i');
    @include columns('.col-push-$i, .col-sm-push-$i', 'margin-left', 11);
    @include columns('.col-pull-$i, .col-sm-pull-$i', 'margin-right', 11);
    @include display-column-rules('sm');
    @include display-spacing-rules('sm');
}

@media only screen and (min-width: $grid-md-breakpoint) {
    @include columns('.col-md-$i');
    @include columns('.col-md-push-$i', 'margin-left', 11);
    @include columns('.col-md-pull-$i', 'margin-right', 11);
    @include display-column-rules('md');
    @include display-spacing-rules('md');
}

@media only screen and (min-width: $grid-lg-breakpoint) {
    @include columns('.col-lg-$i');
    @include columns('.col-lg-push-$i', 'margin-left', 11);
    @include columns('.col-lg-pull-$i', 'margin-right', 11);
    @include display-column-rules('lg');
    @include display-spacing-rules('lg');
}

@media only screen and (min-width: $grid-xl-breakpoint) {
    @include columns('.col-xl-$i');
    @include columns('.col-xl-push-$i', 'margin-left', 11);
    @include columns('.col-xl-pull-$i', 'margin-right', 11);
    @include display-column-rules('xl');
    @include display-spacing-rules('xl');
}
