/*
* ./Components/Grid.scss
*/

$grid-width: 100%;
$grid-gutter: 15px;
$grid-sm-breakpoint: 540px;
$grid-md-breakpoint: 720px;
$grid-lg-breakpoint: 960px;
$grid-xl-breakpoint: 1140px;

@function str-replace($search, $replace, $string) {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace($search, $replace, str-slice($string, $index + str-length($search)));
  }

  @return $string;
}

@mixin columns($selector, $attr: 'width', $through: 12) {
    @function size($i) {
        @return ($grid-width / (12 / $i))
    }

    @for $i from 1 through $through {
      #{str-replace('$i', $i, $selector)} {
          @if($i < 12) {
              #{$attr}: size($i);
          }
          @else {
              #{$attr}: $grid-width;
          }
      }
    }
}

.container {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    margin-right: auto;
    margin-left: auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.container-fluid {
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    box-sizing: border-box;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;

    &.no-gutter {
      margin-left: 0;
      margin-right: 0; }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-gutter [class^="col-"] {
    padding-left: 0;
}

[class^="col-"] {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
    float: left;
}

.show-xs, .show-sm, .show-md, .show-lg, .show-xl {
    display: none !important;
}

@media only screen and (max-width: $grid-sm-breakpoint) {
    .hide-xs {
        display: none !important;
    }
    .show-xs {
        display: initial !important;
    }
}

@media only screen and (min-width: $grid-sm-breakpoint) and (max-width: $grid-md-breakpoint) {
    .hide-sm {
        display: none !important;
    }
    .show-sm {
        display: initial !important;
    }
}

@media only screen and (min-width: $grid-md-breakpoint) and (max-width: $grid-lg-breakpoint) {
    .hide-md {
        display: none !important;
    }
    .show-md {
        display: initial !important;
    }
}

@media only screen and (min-width: $grid-lg-breakpoint) and (max-width: $grid-xl-breakpoint) {
    .hide-lg {
        display: none !important;
    }
    .show-lg {
        display: initial !important;
    }
}

@media only screen and (min-width: $grid-xl-breakpoint) {
    .hide-xl {
        display: none !important;
    }
    .show-xl {
        display: initial !important;
    }
}

@include columns('.col-xs-$i');
@include columns('.col-xs-push-$i', 'margin-left', 11);
@include columns('.col-xs-pull-$i', 'margin-right', 11);

@media only screen and (min-width: $grid-sm-breakpoint) {
    @include columns('.col-$i, .col-sm-$i');
    @include columns('.col-push-$i, .col-sm-push-$i', 'margin-left', 11);
    @include columns('.col-pull-$i, .col-sm-pull-$i', 'margin-right', 11);
}

@media only screen and (min-width: $grid-md-breakpoint) {
    @include columns('.col-md-$i');
    @include columns('.col-md-push-$i', 'margin-left', 11);
    @include columns('.col-md-pull-$i', 'margin-right', 11);
}

@media only screen and (min-width: $grid-lg-breakpoint) {
    @include columns('.col-lg-$i');
    @include columns('.col-lg-push-$i', 'margin-left', 11);
    @include columns('.col-lg-pull-$i', 'margin-right', 11);
}

@media only screen and (min-width: $grid-xl-breakpoint) {
    @include columns('.col-xl-$i');
    @include columns('.col-xl-push-$i', 'margin-left', 11);
    @include columns('.col-xl-pull-$i', 'margin-right', 11);
}
