<!DOCTYPE html>
<html>
    <head>
        <title>Activity Indicators</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../dist/one-true-form.css">
        <style media="screen">
            .section-wrapper {
                position: relative;
                height: 200px;
                width: 100%;
            }
        </style>
    </head>
    <body class="one-true-form">

        <div class="container">

            <h1>Activity Indicators</h1>

            <h3>Dots</h3>

            <div class="row">
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">xs</h5>
                                <div class="activity-indicator activity-indicator-xs activity-indicator-dots">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">sm</h5>
                                <div class="activity-indicator activity-indicator-sm activity-indicator-dots">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">md</h5>
                                <div class="activity-indicator activity-indicator-md activity-indicator-dots">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">lg</h5>
                                <div class="activity-indicator activity-indicator-lg activity-indicator-dots">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">xl</h5>
                                <div class="activity-indicator activity-indicator-xl activity-indicator-dots">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <h3>Spinner</h3>

            <div class="row">
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">xs</h5>
                                <div class="activity-indicator activity-indicator-xs activity-indicator-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">sm</h5>
                                <div class="activity-indicator activity-indicator-sm activity-indicator-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">md</h5>
                                <div class="activity-indicator activity-indicator-md activity-indicator-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">lg</h5>
                                <div class="activity-indicator activity-indicator-lg activity-indicator-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-2">
                    <section class="section-wrapper">
                        <div class="center-wrapper">
                            <div class="center-content">
                                <h5 class="text-center mb-3">xl</h5>
                                <div class="activity-indicator activity-indicator-xl activity-indicator-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <hr>

            <h2>Activity Buttons</h2>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Top</h3>

                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-dots btn-activity-top">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-dots btn-activity-top">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-dots btn-activity-top">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-dots btn-activity-top">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-dots btn-activity-top">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>
                    </p>

                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-spinner btn-activity-top">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-spinner btn-activity-top">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-spinner btn-activity-top">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-spinner btn-activity-top">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-spinner btn-activity-top">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </p>
                </div>
                <div class="col-sm-12">
                    <h3>Bottom</h3>

                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-dots btn-activity-bottom">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-dots btn-activity-bottom">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-dots btn-activity-bottom">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-dots btn-activity-bottom">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-dots btn-activity-bottom">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-spinner btn-activity-bottom">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-spinner btn-activity-bottom">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-spinner btn-activity-bottom">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-spinner btn-activity-bottom">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-spinner btn-activity-bottom">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </p>
                </div>
                <div class="col-sm-12">
                    <h3>Left</h3>

                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-dots btn-activity-left">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-dots btn-activity-left">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-dots btn-activity-left">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-dots btn-activity-left">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-dots btn-activity-left">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-spinner btn-activity-left">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-spinner btn-activity-left">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-spinner btn-activity-left">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-spinner btn-activity-left">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-spinner btn-activity-left">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </p>
                </div>
                <div class="col-sm-12">
                    <h3>Right</h3>

                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-dots btn-activity-right">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-dots btn-activity-right">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-dots btn-activity-right">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-dots btn-activity-right">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-dots btn-activity-right">
                            Submit
                            <div class="activity-indicator"><div></div><div></div><div></div></div>
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-sm btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-md btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-lg btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                        <button type="button" class="btn btn-xl btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                            <div class="activity-indicator">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </p>
                </div>
            </div>

            <h3>Button Colors</h3>

            <p>
                <button type="button" class="btn btn-primary btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-secondary btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-danger btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-success btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-warning btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-info btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>

                <button type="button" class="btn btn-link btn-activity-indicator-dots btn-activity-right">
                    Submit
                    <div class="activity-indicator"><div></div><div></div><div></div></div>
                </button>
            </p>

            <p>
                <button type="button" class="btn btn-primary btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-secondary btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-danger btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-success btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-warning btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-info btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>

                <button type="button" class="btn btn-link btn-activity-indicator-spinner btn-activity-right">Submit
                    <div class="activity-indicator">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </p>

        </div>
        <script type="text/javascript">
            function convertAnimationDelayToInt(delay) {
                var num = parseFloat(delay, 10),
                    unit = delay.match(/m?s/),
                    milliseconds;

                if (unit) {
                    unit = unit[0];
                }

                switch (unit) {
                    case "s": // seconds
                        milliseconds = num * 1000;
                        break;
                    case "ms":
                    default:
                        milliseconds = num;
                        break;
                }

                return milliseconds || 0;
            }

            document.querySelectorAll('.btn').forEach(function(el) {
                el.addEventListener('click', function(event) {
                    if(!event.target.classList.contains('btn-activity')) {
                        event.target.classList.add('btn-activity');
                    }
                    else {
                        var defaultView = (event.target.ownerDocument || document).defaultView;

                        event.target.classList.add('btn-hide-activity');

                        setTimeout(function() {
                            event.target.classList.remove('btn-activity');
                            event.target.classList.remove('btn-hide-activity');
                        }, convertAnimationDelayToInt(defaultView.getComputedStyle(event.target).animationDuration));
                    }
                });
            });
        </script>
    </body>
</html>
