<!DOCTYPE html>
<html>
    <head>
        <title>Buttons</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../dist/one-true-form.css">
    </head>
    <body class="one-true-form">

        <div class="container">

            <h1>Button Examples</h1>

            <h3>Buttons Colors</h3>

            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-link">Link</button>

            <hr>

            <h3>Buttons Outline Colors</h3>

            <button type="button" class="btn btn-primary btn-outline">Primary</button>
            <button type="button" class="btn btn-secondary btn-outline">Secondary</button>
            <button type="button" class="btn btn-danger btn-outline">Danger</button>
            <button type="button" class="btn btn-success btn-outline">Success</button>
            <button type="button" class="btn btn-warning btn-outline">Warning</button>
            <button type="button" class="btn btn-info btn-outline">Info</button>

            <hr>

            <h3>Button Sizes</h3>

            <button type="button" class="btn btn-primary btn-xs">Extra Small</button>
            <button type="button" class="btn btn-primary btn-sm">Small</button>
            <button type="button" class="btn btn-primary btn-md">Medium</button>
            <button type="button" class="btn btn-primary btn-lg">Large</button>
            <button type="button" class="btn btn-primary btn-xl">Extra Large</button>

            <hr>

            <h3>Block Buttons</h3>

            <a href="#" class="btn btn-primary btn-block">Primary</a>
            <button type="button" class="btn btn-secondary btn-block">Secondary</button>

            <hr>

            <h3>Button Groups</h3>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
            </div>

            <hr>

            <h3>Active States</h3>

            <div class="btn-group">
                <button type="button" class="btn btn-primary active">Active</button>
                <button type="button" class="btn btn-primary">Inactive</button>
            </div>
            
            <hr>

            <h3>Disabled States</h3>

            <div class="btn-group">
                <button type="button" class="btn btn-primary disabled">Disabled</button>
                <button type="button" class="btn btn-primary">Enabled</button>
            </div>

        </div>

    </body>
</html>
