<!DOCTYPE html>
<html>
<head>
    <title>Form Examples</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="../../dist/one-true-form.css">
</head>
<body class="one-true-form">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <h1 class="margin-bottom-lg">Text Examples</h1>

                <h3>Paragraphs</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam ac dignissim ante, in feugiat elit. Integer non
                    accumsan metus. Fusce blandit eros leo, eget sagittis erat
                    interdum eu. Morbi nisi quam, volutpat id ipsum vel,
                    vehicula hendrerit est. Donec nisi metus, mollis eu
                    dignissim vitae, laoreet molestie tortor. Vivamus eget
                    facilisis diam, id maximus purus. Nam convallis tellus id
                    enim malesuada, ac elementum dolor efficitur. Nullam
                    sagittis magna libero. Cras in posuere mi. Curabitur
                    interdum ante quam, ut porta eros dictum in. Sed posuere
                    vestibulum ex, ac hendrerit ipsum malesuada vel. Curabitur
                    id tempor elit. In pellentesque leo dolor, sodales aliquet
                    orci commodo sed. Proin non dolor luctus, blandit diam nec,
                    consectetur mauris. Proin vel elit augue. Proin consequat,
                    arcu non auctor sodales, tellus quam posuere dui, eget
                    dapibus leo elit vel enim.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam ac dignissim ante, in feugiat elit. Integer non
                    accumsan metus. Fusce blandit eros leo, eget sagittis erat
                    interdum eu. Morbi nisi quam, volutpat id ipsum vel,
                    vehicula hendrerit est. Donec nisi metus, mollis eu
                    dignissim vitae, laoreet molestie tortor. Vivamus eget
                    facilisis diam, id maximus purus. Nam convallis tellus id
                    enim malesuada, ac elementum dolor efficitur. Nullam
                    sagittis magna libero. Cras in posuere mi. Curabitur
                    interdum ante quam, ut porta eros dictum in. Sed posuere
                    vestibulum ex, ac hendrerit ipsum malesuada vel. Curabitur
                    id tempor elit. In pellentesque leo dolor, sodales aliquet
                    orci commodo sed. Proin non dolor luctus, blandit diam nec,
                    consectetur mauris. Proin vel elit augue. Proin consequat,
                    arcu non auctor sodales, tellus quam posuere dui, eget
                    dapibus leo elit vel enim.
                </p>

                <h1>Header (h1)</h1>
                <h2>Header (h2)</h2>
                <h3>Header (h3)</h3>
                <h4>Header (h4)</h4>
                <h5>Header (h5)</h5>
                <h6>Header (h6)</h6>

            </div>

        </div>

    </div>

</body>
</html>
