// ./Mixins/Forms.scss

@mixin form-control-size($size, $modifier:1) {
    &.form-control-#{$size} {
        font-size: $form-control-font-size * $modifier;
        border-radius: $form-control-border-radius * $modifier;
        padding: $form-control-padding-y * $modifier $form-control-padding-x * $modifier;
    }

    &.form-control-#{$size}:not([size]):not([multiple]) {
        height: 2.375rem * $modifier;
    }
}

@mixin custom-select-size($size, $modifier:1) {
    &.custom-select-#{$size} {
        font-size: $form-control-font-size * $modifier;
        border-radius: $form-control-border-radius * $modifier;
        padding: $form-control-padding-y * $modifier $form-control-padding-x * $modifier;

        &:not([size]):not([multiple]) {
            height: 2.375rem * $modifier;
        }
    }
}

@mixin custom-file-size($size, $modifier:1) {
    &.custom-file-#{$size} {
        .custom-file-input,
        .custom-file-control {
            height: $custom-file-height * $modifier;
        }

        .custom-file-control::before,
        .custom-file-control::after {
            font-size: $form-control-font-size * $modifier;
        }

        .custom-file-control::before {
            height: $custom-file-height * $modifier;
            padding: $custom-file-padding-y * $modifier $custom-file-padding-x * $modifier;
            border-radius: 0 $custom-file-border-radius * $modifier $custom-file-border-radius * $modifier 0;
        }
    }
}

@mixin form-validation-state($state, $color) {

    .#{$state}-feedback {
        display: none;
        margin-top: .25rem;
        font-size: .875rem;
        color: $color;
    }

    .#{$state}-tooltip {
        position: absolute;
        top: 100%;
        z-index: 5;
        display: none;
        width: 250px;
        padding: .5rem;
        margin-top: .1rem;
        font-size: .875rem;
        line-height: 1;
        color: #fff;
        background-color: rgba($color,.8);
        border-radius: .2rem;
    }

    .was-validated .form-control,
    .was-validated .custom-select {
        &:#{$state},
        &.is-#{$state} {
            border-color: $color;

            &:focus {
                box-shadow: 0 0 0 .2rem rgba($color,.25);
            }

            ~ .#{$state}-feedback,
            ~ .#{$state}-tooltip {
                display: block;
            }
        }
    }


    // TODO: redo check markup lol crap
    .was-validated .form-check-input {
        &:#{$state},
        &.is-#{$state} {
            + .form-check-label {
                color: $color;
            }
        }
    }

    // custom radios and checks
    .was-validated .custom-control-input {
        &:#{$state},
        &.is-#{$state} {
            ~ .custom-control-indicator {
                background-color: rgba($color, .25);
            }
            ~ .custom-control-description {
                color: $color;
            }
        }
    }

    // custom file
    .was-validated .custom-file-input {
        &:#{$state},
        &.is-#{$state} {
            ~ .custom-file-control {
                border-color: $color;

                &::before { border-color: inherit; }
            }
            &:focus {
                box-shadow: 0 0 0 .2rem rgba($color,.25);
            }
        }
    }
}
